.nav-link {
  color: #484848;
  font-size: 14px;
  padding-top: 12px;
}

#logo {
  width: 128px;
  height: 17px;
  padding-right: 10px;
  @media only screen and (min-width: 768px) {
    border-right: 1px solid black;
  }
  margin-left: 45px;
}

#brand-separator {
  display: block;
  width: 1px;
  height: 17px;
  color: black;
  padding-right: 7px;
}

#user-name {
  padding-top: 10px;
  color: #484848;
  height: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form-inline {
  margin-right: 45px;
}
