.hero {
  background-image: url("/assets/Group\ 59.png");
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 10px;
  margin-bottom: 30px;
  height: 400px;
  width: 100%px;
}

.content-header {
    color: #FFFFFF;
    padding-left: 45px;
    padding-right: 700px;
    padding-top: 130px;
}

.content-text {
    color: gray;
    padding-left: 45px;
    padding-right: 780px;
    padding-bottom: 98px;
}
