hr.new {
    margin-left: 60px;
    margin-right: 60px;
    border-top: 1px solid darkgray;
    margin-bottom: 20px;
}

.content-p {
    margin-left: 60px;
    margin-bottom: 20px;
    font-size: 28px;
}

.power-bi {
    margin-bottom: 30px;
}

.row.power-bi, .row.case-studies {
    margin-left: 60px;
    margin-right: 60px;
}

.spacebWCards {
    width: 60px;
}

#cards {
    margin-right: 98px;
}

.last-child{
    margin-right: 0px !important; 
  }